<!--<h1 style="text-align: center;">Rift</h1>-->
<div class="landingbuttons">
    <button class="btn btn-dark"><a href="/rifts">/rifts</a></button>
    <br /><br />

    <button class="btn btn-dark"><a href="/_/epicf">/_/invalidRiftTest</a></button>

    <br /><br />

    <button class="btn btn-dark"><a href="/newRift">Create a new Rift</a></button>
</div>