<div class="landingbuttons">
    <button class="btn btn-dark"><a href="/rifts">Rifts</a></button>
    <br /><br />
    <button class="btn btn-info"><a href="/newRift">+ Create a new Rift</a></button>
</div>